.ct__contact {
	display: flex;
	position: relative;
	flex-direction: column;
	flex: 1;
	width: 100%;
	margin: 0 auto;
	max-width: 800px;
	padding: 0;
	overflow-x: hidden;
}
.ct__contact-head-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	max-width: 1140px;
	margin: 0 auto;
}
.ct__contact-head-text h1 {
	font-family: var(--font-family);
	font-size: 40px;
	font-weight: 1300;
}
.ct__contact-head-text h4 {
	font-family: var(--font-family);
	font-size: 16px;
	font-weight: 300;
	color: var(--color-subtext);
}
.ct__contact-contact {
	display: flex;
	gap: 2.5rem;
	padding: 0 2rem;
	overflow: hidden;
	justify-content: center;
}

#message {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.ct__contact-card {
	align-items: center;
	background: var(--bg-color);
	border: 2px solid black;
	border-radius: 1.5rem;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 1rem 0;
	min-width: 290px;
	padding: 0.7rem;
	transition: all 0.3s ease-in-out;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ct__contact-card:hover {
	color: var(--color-text-secondary);
	background-color: var(--color-bg-secondary);
}

.ct__contact-card a {
	color: var(--gray-color);
	text-decoration: none;
	font-size: 0.8rem;
	line-height: 1.5;
	text-align: center;
	font-family: var(--font-family);
}

.ct__contact-cards .ct__contact-card p {
	font-weight: 500;
	font-family: var(--font-family);
}

.ct__contact-cards .ct__contact-card a {
	text-decoration: none;
	font-weight: 500;
	font-family: var(--font-family);
}

.ct__contact-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}
.ct__contact-form input {
	width: 100%;
	flex-direction: column;
	margin: 0;
}

.ct__contact-form div {
	width: 100%;
	border-radius: 1.5rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	background-color: transparent;
}

.ct__contact-form div input {
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	padding: 1rem 2rem;
	border: none;
	border-radius: 1.5rem;
	font-family: var(--font-family);
	color: var(--secondary-color);
	outline: none;
	margin-bottom: 0.5rem;
}
.ct__contact-form div input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #d8d8d8 inset !important; /* Change 'white' to your desired background color */
	-moz-box-shadow: 0 0 0 30px #d8d8d8 inset !important;
	-webkit-box-shadow: 0 0 0 30px #d8d8d8 inset !important;
	box-shadow: 0 0 0 30px #d8d8d8 inset !important;
}

.ct__contact-form div textarea {
	width: 100%;
	padding: 1.5rem 2rem;
	border: none;
	border-radius: 1.5rem;
	font-family: var(--font-family);
	background-color: rgba(0, 0, 0, 0.1);
	color: var(--secondary-color);
	outline: none;
	height: 170px;
}

.ct__contact-form button {
	padding: 0.7rem 2rem;
	border-radius: 1.5rem;
	border: 2px solid black;
	background-color: var(--bg-color);
	font-weight: 500;
	color: var(--white-color);
	outline: none;
	margin: 2rem 0 0rem 0;
	font-family: var(--font-family);
	transition: 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ct__contact-form button:hover {
	background-color: var(--color-bg-secondary);
	color: var(--color-text-secondary);
	transform: scale(1.05);
}
.ct__contact-response {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem;
}
.ct__contact-response {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5rem;
}

.ct__contact-h3 {
	font-size: 35px;
	display: flex;
	text-align: center;
	font-family: var(--font-family);
}
@media screen and (max-width: 700px) {
	.ct__contact-h3 {
		font-size: 30px;
	}
}

.ct__contact-waves-div {
	position: relative;
	padding: 0;
	width: 100vw;
	height: 25vh;
}
.ct__contact-waves__svg {
	width: 100vw;
	position: absolute;
	bottom: 3.9vh;
	left: 0;
}

.fill {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 4vh;
	background-color: #000000;
}

.ct__contact-waves__twitter {
	color: #fff;
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 3rem 5rem;
}
.ct__contact-waves__twitter-2 {
	color: #fff;
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 2.5rem 10rem;
}
.ct__contact-waves__twitter-in {
	display: none;
	transition: 0.4s ease;
}

.ct__contact-waves__twitter-in:hover {
	transform: scale(1.05);
}

@media screen and (min-width: 800px) {
	.ct__contact-waves-div {
		display: none;
	}
	.ct__contact-waves__twitter-in {
		display: block;
		margin: 2rem 1rem;
		color: #000000;
	}
}
@media screen and (max-width: 799px) {
	.hr-contact {
		display: none;
	}
}
@media screen and (max-width: 650px) {
	.ct__contact-waves__twitter {
		margin: 1.5rem;
	}
	.ct__contact-waves__twitter-2 {
		color: #fff;
		z-index: 1;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 1.5rem 7rem;
	}
}
@media screen and (max-width: 450px) {
	.ct__contact-waves-div {
		position: relative;
		padding: 0;
		width: 100vw;
		height: 15vh;
	}
}

.hr-contact {
	margin: 2rem auto 0;
	width: 600px;
}
.ct__contact-waves__rights {
	margin-bottom: 2rem;
}
.ct__contact-waves__rights h6 {
	padding: 0.5rem;
	text-align: center;
	font-size: 14px;
	font-family: var(--font-family);
	text-decoration: none;
	text-transform: inherit;
	font-weight: 400;
}
.ct__contact-waves__rights a {
	text-decoration: none;
	color: #000000;
	font-weight: 400;
}
.ct__contact-waves__rights a:hover {
	text-decoration: underline;
}
.ct__contact-waves {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.error-message {
	font-family: var(--font-family);
	text-align: center;
	background: #fff;
	background-color: #fff;
	font-weight: 700;
}
